.mov{
    background: linear-gradient(to right, rgba(rgb(0, 64, 113), 0.8) 0%, rgba(rgb(0, 0, 121), 0) 100%);
    padding: 30px;
}

.movies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}