.about{
    background: linear-gradient(to right, rgba(rgb(0, 64, 113), 0.8) 0%, rgba(rgb(0, 0, 121), 0) 100%);
    padding: 30px;

    &-title{
        color: #fff;
        font-size: 30px;
        font-family: 'Tenali Ramakrishna', sans-serif;
        line-height: 50px;
        font-weight: bold;
    }

    &-search{
        position: relative;
        width: 100%;
        display: flex;
        button{
            position: absolute;
            height: 56px;
            right: 0;
            top: 16px;
            color: #fff;
            background-color: rgba(rgb(0, 64, 113), 0.8);
        }
    }
}