.header{
    width: 100%;
    background-color: rgb(0, 64, 113);
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-logo{

        img{
            width: 130px;
        }
    }

    &-title{

        h1{
            color: #fff;
            margin: 5px 20px 0;
            font-family: 'Tenali Ramakrishna', sans-serif;
        }
    }
}