.header{
    width: 100%;
    background-color: rgb(0, 64, 113);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-nav{
        display: flex;
        position: absolute;
        left: 20px;

        li{
            margin-left: 20px;
            padding: 5px;

            &:hover{
                background-color: rgba(256,256,256,0.3);
                border-radius: 5px;
                transition: .2s;
            }
        }
    }

    &-logo{

        img{
            width: 130px;
        }
    }

    &-title{

        h1{
            color: #fff;
            margin: 5px 20px 0;
            font-family: 'Tenali Ramakrishna', sans-serif;
        }
    }
}